* {
  margin: 0;
  padding: 0; }

div {
  display: block;
  position: relative; }

a {
  color: inherit;
  text-decoration: none; }

body {
  background-color: black; }

#page-wrapper {
  margin: 100px auto;
  width: 500px;
  height: 500px; }

#orbit-circle {
  background-color: #323232;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 500px;
  height: 500px; }

#new-circle-button {
  background-color: black;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  cursor: pointer;
  margin-left: -25px;
  margin-top: -25px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 50px;
  height: 50px; }
  #new-circle-button #plus-sign {
    background-image: url("plus_sign.png");
    position: absolute;
    width: 50px;
    height: 50px; }

hgroup {
  background-color: #323232;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -25px;
  margin-left: -100px;
  position: absolute;
  top: 50%;
  width: 200px;
  height: 50px; }
  hgroup h1 {
    color: white;
    font-family: "helvetica neue", "helvetica", "verdana", sans-sarif;
    font-size: 25px;
    font-weight: 800;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase; }

hgroup#clear {
  left: 10%; }

hgroup#see-code {
  left: 90%; }

.colorful-circle {
  border: 1px solid white;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  z-index: 3;
  width: 100px;
  height: 100px; }
