<!doctype html>
%html
  %head
    %title Spling
    %link{ :rel => "stylesheet", :href => "css/style.css", :style => "text/css" }
    %script{ :src => "js/jquery.js", :type => "text/javascript" }
    %script{ :src => "js/coffeescript.js", :type => "text/javascript" }
    %script{ :src => "js/application.js.coffee", :type => "text/coffeescript" }
  %body
    %hgroup#clear
      %h1 clear
    #page-wrapper
      #orbit-circle
      #new-circle-button
        +
    %hgroup#see-code
      %h1
        %a{ :href => "" } see code